label {
  color: rgb(88, 88, 88);
  margin-top: 14px;
  font-weight: bold;
}

.info-text {
  font-size: 16px;
  margin-top: 5px;
}

select {
  border: none;
  background-color: #f8f8f9;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  width: 97%;
  margin-top: 16px;
}

input {
  border: none;
  background-color: #f8f8f9;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  width: 97%;
}

@media only screen and (max-width: 768px) {
  input {
    margin-top: 16px;
  }
}
